@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spicy+Rice&display=swap');
@import "tailwindcss";
@theme{
    --color-primary:#9eff00;
    --color-secoundary:#F5F5F5;
    --font-primary:"Spicy Rice", serif;
    --font-secoundary:"Inter", sans-serif;
}